Source: redmine-plugin-release-notes
Section: web
Priority: extra
Maintainer: Enrico Weigelt, metux IT service <weigelt@metux.de>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: redmine-plugin-release-notes
Architecture: all
Pre-Depends: debconf
Depends: redmine-core,
	 ${misc:Depends}
Conflicts: redmine-core (>= 2)
Description: Redmine plugin: advanced reminder

